
globetrotter/frontend/dist
globetrotter/frontend/build
globetrotter/frontend/.next
globetrotter/frontend/.cache
globetrotter/frontend/.nuxt
globetrotter/frontend/.output
globetrotter/docs/
globetrotter/frontend/frontend/README.md
