/* App-specific local styles (global styles are loaded from global.css) */

main {
  min-height: calc(100vh - 72px - 340px); /* Height minus navbar and footer approximate sizes */
  display: flex;
  flex-direction: column;
}
