
main {
  min-height: calc(100vh - 72px - 340px);
}
main {
  min-height: calc(100vh - 72px - 340px); /* Height minus navbar and footer approximate sizes */
}
/* App Container Styles */
.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
